doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div
      h1(class="main") 
        div(class="titletext") Blog Monster 
    
    div(class="links")
      a(href="/index") See What's New
      a(href="/edit") Edit or Delete a Post
    
    block content
