body {
  padding: 50px;
  font: 14px "Rockwell", Helvetica, Arial, sans-serif;
  background-color: lavender;
}

.invisible {
  display: none;
}

button {
  border-radius: 8px;
  background-color: rgb(208, 37, 174);
  color: white;
  font-size: 20px;

}

.delete {
  margin: 20px;
}

.main {
  font-size: 50px;
}

.titletext {
  border: 5px solid hsl(240, 100%, 50%);
  border-radius: 50%;
  padding: 12px;
  transform: rotate(-10deg) translate(0px, -40px);
  float: left;
}

a {
  color: black;
  text-decoration: none;
  margin: 10px;
}

.links {
  clear: both;
  background-color: rgb(208, 37, 174);
  margin-bottom: 10px;
  overflow: hidden;
}

.links a {
  float: left;
}

.entry {
  border-radius: 20px;
  border: 2px solid blue;
  margin: 15px;
  padding: 10px;
}
